<form action="/course/add" method="post">
<p>
    <label>Course Name</label><input value="" name="courseName"/><br/>
     <label>Course Duration</label><input value="" name="courseDuration"/><br/>
      <label>Course Fees</label><input value="" name="courseFees"/>
      <button type="submit">Add course</button>
</p>

</form>