<h1>courses</h1>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.courseId}}</td>
        <td>{{this.courseName}}</td>
    </tr>
    {{/each}}
</table>